/*---
title:   strip-unit
section: Function
---

Strip units from numbers.

```css
strip-unit($-number)
```

```css
.foo {
  line-height: strip-unit(map-get($font-sizes, m));
}
```
*/
@function strip-unit($-number) {
  @if type-of($-number) == 'number' and not unitless($-number) {
    @return $-number / ($-number * 0 + 1);
  }
  @return $-number;
}
